html
    head
        title Pubg Community
        style
            include ../static/Communitypagestyle.css
    body
        section#communities
            div.instacontainer
                img(src="./insta.png", alt="Instagram", srcset="")
            div.instanote
                |Be a part of our Instagram family
            div.secondinstanote
                |Kmow about Updates Earlier
            div.twittercontainer
                img(src="./twitter.png", alt="Twitter", srcset="")
            div.facebookcontainer
                img(src="./facebook.png", alt="facebook", srcset="")