html
    head
        title Update-info
        <link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">
        style
            include ../static/updatepagestyle.css
    body
        nav#navbar  
            ul 
                div#logo
                    img(src='./pubglogo1.png',id="logoImage", alt="Pubg")   
                li #[a(href="/News") News]
                div.dropdown
                    button.dropbtn Community
                    div.dropdowncontent
                        a(href="https://www.instagram.com/pubg/?hl=en") Instagram
                        a(href="https://www.facebook.com/PUBGMOBILE.IN.OFFICIAL/?brand_redir=908555025972310") Facebook
                        a(href="https://twitter.com/pubgmobile") Twitter
                        a(href="https://discord.com/invite/pubgm") Discord
                        a(href="https://www.youtube.com/PUBGMOBILE") YouTube
                li #[a(href="/DeveloperContact") Developer Contact]
                li #[a(href="/About") About]
                li #[a(href="https://pubgmobile.helpshift.com/a/pubg-mobile/") Support]
                li #[a#login(href="/Login") Login]
        div.heading1
                h1 Season 14 is here
        section#patch1
            div.heading1note
                |Upgrade your Royale Pass now to avail these items permanently.
            div.patch1image1
                img(src="./m4skin.png", alt="", srcset="")
            div.patch1image2
                img(src="./14skin.png", alt="", srcset="")
            div.patch1image3
                img(src="./acepara.png", alt="", srcset="")
            div.patch1image4
                img(src="./dacia.png", alt="", srcset="")
            div.patch1image5
                img(src="./minibus.png", alt="", srcset="")
            div.patch1image6
                img(src="./helmet.png", alt="", srcset="")
        section#mainsuit
            div.heading2
                h1 Season 14 Exclusive Suit
            div.heading2note
                |Here's the Season 14 Exclusive suit with the "CLASSIFIED YT" M24 Skin
            div.patch2image1
                img(src="./m24.png", alt="", srcset="")
        section#mainpatchnote
            h1 Detailed Notes of the Update
            |With such a massive update, you will probably need to use a Wi-Fi connection to download PUBG Mobile version 0.19.0. This update requires approximately 1.84 GB of storage space on Android devices and 2.13 GB of storage space on iOS devices.
        section#livik
            h1 Jump Into Livik
            div.livikimage
                img(src="livik.jpg", alt="", srcset="")
            div.liviknote
                |The new PUBG Mobile map has finally arrived for players to enjoy. This is the first exclusive map for the mobile title, and it looks amazing. There are diverse areas, buildings, and even a waterfall. It is a small map with 15-minute matches and a 52-player limit. 
                |The developer explains: "This Nordic-style map measures 2km × 2km, with 52 players and 15 minute match times, making for a faster and more exciting experience!
                |"Livik is still in its BETA stage, and we will continue to adjust and improve it for the best visual and gaming experience."
        section#weapons
            div.heading3
                h1 New Weapons and Monster truck
            div.weaponnote
                |There are two exclusive new weapons for the Livik map in PUBG Mobile update 0.19.0, as well as a huge new vehicle to enjoy.
                |Map-exclusive SMG: P90
                |Map-exclusive marksman rifle: Mk 12
                |Map-exclusive vehicle: Monster Truck
                |There will also be an experimental Livik super firearm training event for the map, "coming soon".
                |"When the event starts, Experimental Trial Weapon Crates containing a special weapon will appear on Livik. Special weapons look similar to normal weapons, but there are differences in the names, icons, etc. Finishes can be used normally on both types.
                |"Experimental Trial Weapons have slightly better stats than normal weapons. You can view your firing and hit stats with your Experimental Trial Weapon after leaving combat."
            div.monstertruck
                img(src="./Monster-Truck.jpg", alt="", srcset="")